db.sqlite3

__pycache__

# Ignorar los entornos de Conda
envs/
*.conda


# Ignorar directorios y archivos específicos de Conda
conda-meta/


# Si tienes entornos de Conda en un directorio específico, añádelo aquí
conda/
# Ignorar archivos de entornos virtuales de Python
venv/
*.pyc
__pycache__/
