{% extends "base.html" %}
{% comment %} Extender la base.html aqui {% endcomment %}
        <!-- PART 6 -->


{% load static %}
{% comment %} cargar las imagenes {% endcomment %}




{% block content %}

{% comment %} PART 6.10  Autentificacion del usuario {% endcomment %}

<main class="flex-shrink-0">

    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-person-plus-fill"></i></div>
                    <h1 class="fw-bolder">REGISTRATE</h1>
                    {% comment %} <p class="lead fw-normal text-muted mb-0">Let's work together!</p> {% endcomment %}
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                            {% comment %} --- PART 6.11 FORMULARIO REGISTER ---  {% endcomment %}
                        <form method='POST' action="" id="contactForm">

                            {% comment %} --- PART 6.12 para la seguridad ---  {% endcomment %}
                            {% csrf_token %}

                            <!-- PART 6.14 LOGICA Para los mensajes de error-->
                            {% if formulario.errors %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">

                                <!-- PART 6.15 ALERTA Para el manejo de mensajes de error-->
                                {% for campos_fields in formulario  %}
                                    {% if campos_fields.errors %}

                                        {{ campos_fields.errors}}
                                    
                                     {% endif %}
                                {% endfor %}

                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>


                            {% endif %}

                             <!-- PART 6.13 --- Para probar si funcona -->
                            {{ formulario.as_p}}
                            
                            

                            <!-- Submit Button-->
                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Crear Cuenta </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>




{% comment %} PART 6 - FORMULARIO REGISTRO USER {% endcomment %}



{% endblock  %}

