{% extends "base.html" %}
{% comment %} Extender la base.html aqui {% endcomment %}
<!-- PART 6 -->


{% load static %}
{% comment %} cargar las imagenes {% endcomment %}

{% comment %} 10.09 {% endcomment %}
{% block content %}

{% comment %} PART 10.10 Ir a home.html para poner el link para var las ubicaciones {% endcomment %}

{% comment %} PART 10.13 pasar la variable que contiene la informacion del modelo de historial ubicaciones
{% endcomment %}
{% comment %} {{ ubicacion_historial}} {% endcomment %}


{% comment %} 10.14 Traer toda la informacion de la histial ubicaciones {% endcomment %}
{% comment %} 10.14 FINAL {% endcomment %}
{% comment %} {{ ubicacion_historial.inicio}}<br /> {% endcomment %}
{% comment %} {{ ubicacion_historial.final}}<br /> {% endcomment %}
{% comment %} {{ ubicacion_historial.poste_1}}<br /> {% endcomment %}
{% comment %} {{ ubicacion_historial.poste_2}}<br /> {% endcomment %}
{% comment %} {{ ubicacion_historial.poste_3}}<br /> {% endcomment %}
{% comment %} {{ ubicacion_historial.notas}}<br /> {% endcomment %}
{% comment %} {{ ubicacion_historial.id}}<br /> {% endcomment %}
{% comment %} {{ ubicacion_historial.tiempo_creado}}<br /> {% endcomment %}



<!-- Repetir para datos_3, datos_4, etc. -->




{% comment %} ----------------------------------------------------- {% endcomment %}



{% comment %} --------------------------INICIO - FINAL PART 11. --------------------------- {% endcomment %}

<div class='container'>

    <table class="table table-hover table-bordered bg-dark">
        <thead class="shadow bg-dark">
            <tr>
                <th scope="col" class='shadow text-center fw-bold fs-3 text-white'>{{ ubicacion_historial.inicio}}</th>
                <th scope="col" class='shadow text-center fw-bold fs-3 text-white'>{{ ubicacion_historial.final}}</th>
            </tr>
        </thead>

        <tbody>
            <!-- Espacio limpio -->
        </tbody>
    </table>

    <div>
        <br />


        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class=" text-center bg-info text-white fw-bold text-white accordion-button collapsed"
                        type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        NOTAS
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" style="">
                    <div class="accordion-body">
                        <div class="accordion-body">
                            <section>
                                <!-- Experience Card 2-->
                                <div class="card shadow border-0 rounded-4 mb-5">
                                    <div class="card-body p-4">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <div>{{ ubicacion_historial.notas}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            {% comment %} ------------------------- BOTONES ---------------------------- {% endcomment %}


            <div class='mb-3 d-flex justify-content-center'>
                <button type="button" class="btn btn-secondary mx-3 px-3"><a href="{% url 'home' %}"
                        class='text-white fw-bold' style="text-decoration:none;">Inicio</a></button>

                <!-- PART 14.01 - tambien indicar el id del contenido a actualizar  actualizar -->

                <button type="button" class="btn btn-success mx-3 px-3"><a
                        href="{% url 'actualizar' ubicacion_historial.id %}" class='text-white fw-bold'
                        style="text-decoration:none;">Actualizar </a></button>

                <!-- PART 12.05 Poner la url y el ID a borrar -->

                <button type="button" class="btn btn-danger mx-3 px-3"><a
                        href="{% url 'borrar' ubicacion_historial.id %}" class='text-white fw-bold'
                        style="text-decoration:none;">Borrar</a></button>
            </div>




            {% comment %} -------------------------POSTE 1 PART 11 ---------------------------- {% endcomment %}


            <div class='container'>

                <table class="table table-hover table-bordered mt-2 ">
                    <thead class="table-light shadow">
                        <tr>
                            <th scope="col" class='shadow border-0 text-center'>POSTE: <span
                                    class='text-danger'>{{ ubicacion_historial.poste_1}}</span></th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
                
                <!-- Espacio limpio -->


                {% comment %} PART 9.01 Tablas {% endcomment %}
                <table class="table table-hover table-bordered">
                    <thead class="table-dark">
                        <tr>
                            {% comment %} <th scope="col">Numero</th> {% endcomment %}
                            <th scope="col">linea</th>
                            <th scope="col">Destino a</th>
                            <th scope="col">Minutos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for elementos_1 in datos_1  %}
                        <tr>

                            {% comment %} <td scope='row'> {{ forloop.counter}} </td> {% endcomment %}

                            <td> {{ elementos_1.0}} </td>

                            <td> {{ elementos_1.1 }} </td>

                            <td> {{ elementos_1.2 }} </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


                {% comment %} -------------NOTAS ---------- {% endcomment %}

                <!-- boton para el scraping -->

                <!-- boton para el scraping -->

                {% comment %} <form method='get' action={% url 'ubicacion' %}>

                    <div class='align-self-start '>

                        <button type='submit' class='btn  btn-outline-success mt-3' id='toggleTableButton_2'> llegada
                            Bus </button>

                    </div>

                </form> {% endcomment %}
                {% comment %}
                <div class='align-self-start '>
                    <a href="#" class="btn  btn-outline-success mt-3" id="toggleTableButton_2">Bus llegada</a>
                </div> {% endcomment %}


                <!-- Espacio -->



            </div>

            <br />




            {% comment %} -------------------------POSTE 2 PART 11 ---------------------------- {% endcomment %}


            <div class='container'>

                <table class="table table-hover table-bordered mt-2 ">
                    <thead class="table-light shadow">
                        <tr>
                            <th scope="col" class='shadow border-0 text-center'>POSTE: <span
                                    class='text-danger'>{{ ubicacion_historial.poste_2}}</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- Espacio limpio -->
                    </tbody>
                </table>

                <table class="table table-hover table-bordered">
                    <thead class="table-dark">
                        <tr>
                            {% comment %} <th scope="col">Numero</th> {% endcomment %}
                            <th scope="col">linea</th>
                            <th scope="col">Destino a</th>
                            <th scope="col">Minutos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for elementos_1 in datos_2  %}
                        <tr>

                            {% comment %} <td scope='row'> {{ forloop.counter}} </td> {% endcomment %}

                            <td> {{ elementos_1.0}} </td>

                            <td> {{ elementos_1.1 }} </td>

                            <td> {{ elementos_1.2 }} </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div>

            <br />


            {% comment %} -------------------------POSTE 3 PART 11 ---------------------------- {% endcomment %}


            <div class='container mb-3'>

                <table class="table table-hover table-bordered mt-2 ">
                    <thead class="table-light shadow">
                        <tr>
                            <th scope="col" class='shadow border-0 text-center'>POSTE: <span
                                    class='text-danger'>{{ ubicacion_historial.poste_3}}</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- Espacio limpio -->
                    </tbody>
                </table>


                <table class="table table-hover table-bordered mb-2">
                    <thead class="table-dark">
                        <tr>
                            {% comment %} <th scope="col">Numero</th> {% endcomment %}
                            <th scope="col">linea</th>
                            <th scope="col">Destino a</th>
                            <th scope="col">Minutos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for elementos_1 in datos_3  %}
                        <tr>

                            {% comment %} <td scope='row'> {{ forloop.counter}} </td> {% endcomment %}

                            <td> {{ elementos_1.0}} </td>

                            <td> {{ elementos_1.1 }} </td>

                            <td> {{ elementos_1.2 }} </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


                <br/>
                <br/>
                <br/>
                <br/>



                <!-- Espacio -->


            </div>



            {% comment %} <!-- PART 11.01-->
            <div class='mb-2 mt-2 d-flex justify-content-end'>
                <button type="button" class="btn btn-secondary mx-3 px-3"><a href="{% url 'home' %}"
                        class='text-white fw-bold' style="text-decoration:none;">Inicio</a></button>

                <!-- PART 14.01 - tambien indicar el id del contenido a actualizar  actualizar -->

                <button type="button" class="btn btn-success mx-3 px-3"><a
                        href="{% url 'actualizar' ubicacion_historial.id %}" class='text-white fw-bold'
                        style="text-decoration:none;">Actualizar </a></button>

                <!-- PART 12.05 Poner la url y el ID a borrar -->

                <button type="button" class="btn btn-danger mx-3 px-3"><a
                        href="{% url 'borrar' ubicacion_historial.id %}" class='text-white fw-bold'
                        style="text-decoration:none;">Borrar</a></button>
            </div>  {% endcomment %}


            {% endblock  %}



{% comment %} 


TABLA IFORMACION ADICIONAL 




                            {% if datos_1 %}
                <h2>Datos del poste 1</h2>
                <table>
                    <tr>
                        <th>Línea</th>
                        <th>Destino</th>
                        <th>Tiempo</th>
                    </tr>
                    {% for linea, destino, tiempo in datos_1 %}
                    <tr>
                        <td>{{ linea }}</td>
                        <td>{{ destino }}</td>
                        <td>{{ tiempo }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}

                {% if datos_2 %}
                <h2>Datos del poste 2</h2>
                <table>
                    <tr>
                        <th>Línea</th>
                        <th>Destino</th>
                        <th>Tiempo</th>
                    </tr>
                    {% for linea, destino, tiempo in datos_2 %}
                    <tr>
                        <td>{{ linea }}</td>
                        <td>{{ destino }}</td>
                        <td>{{ tiempo }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}

                {% if datos_3 %}
                <h2>Datos del poste 2</h2>
                <table>
                    <tr>
                        <th>Línea</th>
                        <th>Destino</th>
                        <th>Tiempo</th>
                    </tr>
                    {% for linea, destino, tiempo in datos_2 %}
                    <tr>
                        <td>{{ linea }}</td>
                        <td>{{ destino }}</td>
                        <td>{{ tiempo }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
                <!-- Espacio limpio -->
            
            
            
            
            
            
            
{% endcomment %}